<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CustomCompleteTextBox" version="1.0.2" targetFramework="net461" />
  <package id="DotImaging.GenericImage" version="4.8.3" targetFramework="net461" />
  <package id="DotImaging.Primitives2D" version="4.8.3" targetFramework="net461" />
  <package id="DotImaging.UI" version="4.8.3" targetFramework="net461" />
  <package id="Eto.Forms" version="2.2.0" targetFramework="net461" />
  <package id="Eto.Platform.Windows" version="2.2.0" targetFramework="net461" />
  <package id="HintTextBox" version="0.1.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net461" />
  <package id="MonoGame-Textbox" version="1.0.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="paper-behaviors" version="1.0.0" targetFramework="net461" />
  <package id="paper-checkbox" version="1.0.1" targetFramework="net461" />
  <package id="paper-radio-group" version="1.0.1" targetFramework="net461" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net461" />
  <package id="paper-styles" version="1.0.3" targetFramework="net461" />
  <package id="PasswordTextBox-Control" version="0.4.0" targetFramework="net461" />
  <package id="polymer" version="1.0.0" targetFramework="net461" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net461" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net461" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net461" />
  <package id="polymer-iron-selector" version="1.0.2" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net461" />
</packages>